---
layout: default
title: Publications List
---

{% for publication in site.publications reversed %}
  {% assign currentdate = publication.date | date: "%Y" %}
  {% if currentdate != date %}
    <h3 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h3>
    {% assign date = currentdate %}
  {% endif %}
  {{ publication.authors }} ({{publication.date | date: "%Y"}}). <b>{{ publication.title }}</b>. <em>{{ publication.journal }}</em>, {{ publication.volume }}: {{ publication.pages }}, DOI: <a href="http://dx.doi.org/{{ publication.doi }}">{{ publication.doi }}</a>.  
{% endfor %}