<!DOCTYPE html>
<html>

  {% include head.html %}

	<body id="top">

        {% include header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2><img height="150px" src="images/fluiditylogo-transparent.png" alt="" /></h2>
                <p>An open-source computational fluid dynamics code<br>with adaptive unstructured mesh capabilities</p>
                <ul class="actions">
                    <li><a href="get-fluidity.html" class="button big special">Download</a></li>
                    <li><a href="#main" class="button big alt">Learn More</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include footer.html %}

    </body>

</html>
